/* INDEX.HTML */
body {
  background-color: #0e172a;
  color: #e5e7eb;
  font-family: sans-serif;
}

.top-bar, .top-bar ul {
  background-color: #0b0c14;
}
.top-bar a {
  color: #9ca3af;
  font-weight: 500;
}
.top-bar a:hover {
  color: #22c55e;
}

.menu-text {
  color: #22c55e;
  font-weight: bold;
}
.menu{
  border: none;
}

.hero {
  background:
    linear-gradient(rgba(8, 9, 10, 0.616), rgba(0, 0, 0, 0.548)),
    url("../img/fpv-hero.jpg") center;
  border: none;
  padding: 6rem 1rem;
}
.hero h1 {
  font-size: 3rem;
  color: #f8fafc;
}
.hero .lead {
  max-width: 600px;
  margin: 1rem auto 2rem;
}

.callout.secondary {
  background-color: #020617;
  border-left: 4px solid #22c55e;
}
.callout.secondary h3 {
  color: #22c55e;
}

.card {
  background-color: #020617;
  height: 400px;
  border: none;
  color: #e5e7eb;
  transition: transform .25s ease, box-shadow .25s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,.4);
}
.card img {
  filter: brightness(70%);
  height: 205px;
}
.card:hover img {
  filter: brightness(90%);
}
.card h4 {
  color: #22c55e;
}

.callout.alert {
  background-color: #11642f;;
  border: none;
}
.callout.alert a{
  background-color: #04180b;
  color: #cecece;
}
.callout.alert a:hover{
  background-color: #22c55e;
}

.button.success {
  background-color: #178a41;
  color: #020617;
  font-weight: bold;
}
.button.success:hover {
  background-color: #23e66a;
}
.button.alert {
  font-weight: bold;
}

hr {
  border-color: #334155;
}
.cell p {
  color: #94a3b8;
}


/* PROGRAM.HTML */
.orbit img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(75%);
}

.orbit-caption {
  background: rgba(2, 6, 23, 0.8);
  color: #e5e7eb;
  padding: 0.75rem;
  font-size: 0.9rem;
}
.accordion-title {
  border: none;
}
.accordion-title:hover, .accordion-title:focus{
  background-color: rgba(2, 6, 23, 0.8);
  color: #22c55e;
}
.accordion{
  background-color: rgba(2, 6, 23, 0.8);
}
.accordion-content{
  background-color: rgba(2, 6, 23, 0.8);
  border: none;
}
.accordion-content ul li{
  color: #94a3b8;
}

/* KONTAKT.HTML */
form {
  background-color: #020617;
  padding: 1rem;
  border-radius: 8px;
}

form label {
  color: #94a3b8;
  font-weight: 500;
}

input[type="text"], input[type="email"], input[type="tel"], select, textarea{
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #0b0c14;
  color: #e5e7eb;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
  border-color: #22c55e;
  background-color: #0b0c14;
}

.radio-group{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  color: #e5e7eb;
}
form .button {
  width: 100%;
  font-weight: bold;
}

form .button.success {
  background-color: #178a41;
  color: #020617;
}

form .button.success:hover {
  background-color: #23e66a;
  color: #020617;
}