* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    display: grid;
    grid-template-areas: 
        "a a a"
        "b c d"
        "e e e";

    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;

    gap: 1rem; 
    padding: 1rem; 

    min-height: 100vh;
    background: #f5f5f5;
}

body > div {
    border: 2px solid gray;
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #aaa;
}

.a { grid-area: a; background: #e74c3c; }
.b { grid-area: b; background: #3498db; }
.d { grid-area: d; background: #9b59b6; }
.e { grid-area: e; background: #2ecc71; }


.c {
    grid-area: c;
    background: white;
    color: #222;

    display: grid;
    grid-template-areas:
        ". ."
        "s1 s1"
        "s2 s3"
        ". .";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;

    row-gap: 15rem;
    column-gap: 1rem;
    padding: 1rem; 
}

.s1, .s2, .s3 {
    border: 2px solid gray;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}
.s1 { grid-area: s1; background: #f1c40f; }
.s2 { grid-area: s2; background: #e67e22; }
.s3 { grid-area: s3; background: #16a085; }
