header{
    background-color: #263453;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
    width: auto;
    padding-bottom: 1rem;
}
header h1{
    padding-bottom: 25px;
}
header h2{
    padding-bottom: 15px;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
header a{
    text-decoration-line: none;
    color: #bb5215;
    font-weight: bold;
}


body{
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: sans-serif;

}


section{
    margin: 20px auto;
    width: 95%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
section h2{
    padding-left: 45px;
}
section p{
    padding-left: 45px;
}
hr{
    width: 95%;
    color: #929292;
}


.okvir{
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    border: 2px solid rgb(49, 132, 255);
    width: 95%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.okvir div{
    background-color: rgb(49, 132, 255);
    color: #fff;
    padding: 20px 10%;
    font-weight: 600;
}


* {
    box-sizing: border-box;
}


.okvir2{
    width: 95%;
    background-color: #eeeeee;
    border: 2px solid rgb(21, 172, 54);
    margin: auto;
    
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c"
    "d d d";
    gap: 0.5rem;

    grid-template-rows: auto 250px auto;

    padding: 10px;

}
.a, .b, .c, .d {
    color: #fff;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    
}
.a { 
    grid-area: a; 
    background-color: aquamarine; 
}
.b { 
    grid-area: b;
    background-color: rgb(0, 133, 66);
}
.c { 
    grid-area: c; 
    background-color: rgb(11, 44, 59); 
    padding-left: 0;
    padding-right: 0; 
}
.d { 
    grid-area: d; 
    background-color: aquamarine; 
}

.article{
    overflow: hidden; 
    padding-left: 45px;
    padding-right: 45px;
}

.float-box {
    float: left;
    width: 200px;
    height: 100px;
    background-color: rgba(243, 66, 66, 0.836);
    border: 1px solid gray;
    text-align: center;
    color: #fff;
    font-weight: 600;
   
}

.article-text {
    columns: 200px 3;
    column-gap: 30px;
    column-rule: 2px solid #ccc;
    column-fill: balance;
    text-align: justify;
}


.info{
    border-inline-start: 5px solid rgb(207, 165, 73);
    background-color: rgb(223, 219, 212);
    padding-bottom: 15px;
    padding-top: 15px;
}
.info h3{
    padding-left: 45px;
}
.info p{
    padding-left: 45px;
}


footer{
    background-color: #3b3226;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 25px auto;
}

span{
    font-family: "Source Code Pro", monospace;
}