body {
  background-color: #0e172a;
  color: #e5e7eb;
  font-family: sans-serif;
}
/* NAVBAR */
.navbar {
  background-color: #0b0c14;
}
.navbar-nav .nav-link {
  color: #9ca3af;
  font-weight: 500;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #22c55e;
}
.navbar-brand {
  color: #22c55e;
  font-weight: bold;
}
.hero {
  background:
    linear-gradient(rgba(8, 9, 10, 0.616), rgba(0, 0, 0, 0.548)),
    url("../img/fpv-hero.jpg") center / cover no-repeat;
  padding: 6rem 1rem;
}
.hero h1 {
  font-size: 3rem;
  color: #f8fafc;
}
.hero .lead {
  max-width: 600px;
  margin: 1rem auto 2rem;
}
.info-box {
  background-color: #020617;
  border-left: 4px solid #22c55e;
  padding: 1.5rem;
  border-radius: 6px;
}
.info-box h3 {
  color: #22c55e;
}
.card {
  background-color: #020617;
  height: 400px;
  border: none;
  color: #e5e7eb;
  transition: transform .25s ease, box-shadow .25s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,.4);
}

.card img {
  filter: brightness(70%);
  height: 205px;
  object-fit: cover;
}

.card:hover img {
  filter: brightness(90%);
}

.card-title {
  color: #22c55e;
}
.alert-warning {
  background-color: #11642f;
  border: none;
  color: #e5e7eb;
}

.alert-warning .btn {
  background-color: #04180b;
  color: #cecece;
  font-weight: bold;
}

.alert-warning .btn:hover {
  background-color: #22c55e;
  color: #020617;
}
.accordion-item {
  background-color: #020617;
  border: none;
}

.accordion-button {
  background-color: #020617;
  color: #e5e7eb;
}

.accordion-button:not(.collapsed) {
  color: #22c55e;
  background-color: #020617;
}
.accordion-button::after {
  filter: invert(1);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  background-color: #020617;
  color: #94a3b8;
}
.carousel-item img {
  margin: 50px auto;
  height: 600px;
  object-fit: cover;
  filter: brightness(75%);
}
.carousel-caption {
  color: #22c55e75;
}
form {
  background-color: #020617;
  padding: 1.5rem;
  border-radius: 8px;
}
.form-control,
.form-select {
  background-color: #0b0c14;
  border: 1px solid #334155;
  color: #e5e7eb;
}
.form-control:focus,
.form-select:focus {
  border-color: #22c55e;
  background-color: #0b0c14;
  color: #e5e7eb;
}
.form-floating label {
  color: #94a3b8;
}
.form-check-label {
  color: #e5e7eb;
}
.btn-success {
  background-color: #178a41;
  color: #020617;
  font-weight: bold;
}
.btn-success:hover {
  background-color: #23e66a;
}
footer {
  border-top: 1px solid #334155;
  color: #94a3b8;
}
.list-group {
  background-color: #020617;
}
.list-group-item {
  background-color: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
}
.list-group-item:hover {
  background-color: #020617;
  color: #22c55e;
}




