:root{
    --boja-pozadine: #e9dcd2; 
    --prva-boja: #831515;
    --druga-boja: #997f7a;
    --treca-boja: #fbfaf9;
    --cetvrta-boja: #453f3f;
}

body{
    background-color: var(--boja-pozadine);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    text-align: center;
}
header h1{
    color: var(--prva-boja);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
header p{
    color: var(--cetvrta-boja);
    font-family: serif;
    padding-bottom: 10px;
    font-size: 17px;
}
header hr{
    width: 90%;
    border: 0.5px solid var(--prva-boja);
}
nav{
    width: 90%;
    border-radius: 0.5rem;
    background-color: var(--prva-boja);
    margin: 15px auto;
    padding-top: 1px;
    padding-bottom: 1px;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    list-style: none;
    justify-content: center;
}
nav a{
    text-decoration-line: none;
    color: var(--treca-boja);
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
}
section{
    margin: 20px auto;
    width: 90%;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: var(--treca-boja);
    border-radius: 0.5rem;
    min-height: auto;
    padding-bottom: 20px;
}

h2{
    margin-left: 20px;
    color: var(--cetvrta-boja);
    font-family: Georgia, serif;
    font-size: 30px;
    border-inline-start: 5px solid var(--prva-boja);
    padding-left: 12px;
}

.radnja_tekst_i_video{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;

}
.radnja_tekst{
    width: 10%;
    color: var(--cetvrta-boja);
    padding-left: 20px;
    flex: 1 1 auto;
}
.radnja_tekst p{
    font-size: 20px;
}

.radnja_tekst blockquote {
    border-inline-start: 4px solid var(--druga-boja);
    padding-left: 12px;
    margin-top: 20px;
    font-style: italic;
    background-color: #e9e9e9;
    
}

.radnja_video{
    align-items: center;
    justify-content: center;
    flex: 2 1 auto;
}

.radnja_video iframe {
    width: 90%;
}



table{
    width: 90%;
    margin: 0 auto;

}
table, td, th{
    border: 1px solid rgb(189, 189, 189);
    border-collapse: collapse;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: serif;
    font-size: 18px;
    
}
table th{
    text-align: left;
    color: var(--treca-boja);
    background-color: var(--prva-boja);
}
tbody tr:nth-child(odd){           
    background-color: #fff;
}

tbody tr:nth-child(even){           
    background-color: #f3f3f3;
}


form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
label{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
}
input[type="text"], textarea{
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid #cfd2d6;
    padding: 5px 5px;
}
button{
    border: none;
    background-color: var(--prva-boja);
    color: var(--treca-boja);
    width: 15%;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
}

footer{
    margin: 50px auto;
}
.prava{
    margin: 25px auto;
    font-size: 15px;
    font-family: sans-serif;
    color: #777;
    text-align: center;
}

footer hr{
    width: 90%;
    border: 0.1px solid #c9c9c9;
}