body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-flow: wrap;
    background-color: rgb(46, 46, 46);
}
nav p{
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding-left: 5%;
    color: rgb(243, 165, 20);
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding-left: 60%;
}
nav li{
    font-size: 12px;
    font-weight: bold;
}
nav a {
    color: white;
    text-decoration: none;
}

.uvodni_dio{
    background-color: rgb(19, 19, 19);
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}
h1{
    font-size: 40px;
}
.uvodni_dio p{
    margin-bottom: 2%;
}
button{
    background-color: rgb(245, 159, 0);
    border: none;
    padding: 10px 10px;
    font-weight: bolder;
    border-radius: 0.3rem;
    font-size: 15px;
}

.usluge{
    text-align: center;
}
.usluge h2{
    font-size: 32px;
    margin-top: 50px;
}

.usluge p{
    margin-bottom: 50px;
}

.kartice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.usluge h3{
    font-size: 30px;
}
.kartice div{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.5rem;
    border-inline-start: 5px solid rgb(243, 165, 20);
    text-align: left;
    width: 400px;
    height: 200px;
    justify-content: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    box-sizing: border-box;
}
.kartice div h3{
    font-size: 20px;
}
.kartice div p{
    font-size: 18px;
}

.info_tekst{
    columns: 500px 2;
    column-gap: 30px;
    column-rule: 2px solid #ccc;
    column-fill: balance;

    text-align: justify;

    box-sizing: border-box;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;   
}

caption{
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #000;
}

table{
    width: 89%;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 16px;
    color: #222;
}

thead th{
    background-color: #1f1f1f;      
    color: white;
    text-align: left;
    padding: 12px 8px;
    font-weight: 700;
    border-bottom: 1px solid #333;
}

tbody tr td{
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 8px;
}

tbody tr:nth-child(odd){           
    background-color: #fff;
}

tbody tr:nth-child(even){           
    background-color: #f3f3f3;
}

tfoot tr td{
    padding: 10px 8px;
    font-size: 14px;
    color: #777;
    background-color: #fff;
}



.upit{
    background-color: #f0f1f0;
    width: 90%;
    margin: 50px auto;
    text-align: center;
    border-radius: 0.2rem;
    padding-bottom: 50px;
    padding-top: 50px;
}
   
fieldset{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0 auto;
    width: 50%
}
label{
    text-align: left;
    font-weight: 600;
    padding-bottom: 10px;
}

textarea{
    resize: vertical;
    min-height: 60px;
}

input[type="text"], input[list="svi_radovi"], textarea{ 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: 2px solid #cfd2d6;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;

}
.checkbox label{
    font-weight: normal;
}
.checkbox{
    padding-right: 80%;
}

.termini{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 24%;
    padding-top: 50px;
}

meter{
    width: 68%;
    accent-color: #b33a3a;
}

.termini meter::-webkit-meter-bar {
    background: #eee; 
}
.termini meter::-webkit-meter-suboptimum-value {
    background: #b33a3a; 
}

.termini meter::-webkit-meter-optimum-value {
    background: #d9534f; 
}

.termini meter::-webkit-meter-even-less-good-value {
    background: #7a1f1f; 
}

.upit button{
    width: 52%;
}

footer{
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: rgb(46, 46, 46);
    text-align: center;
}
footer hr{
    width: 90%;
   border: 0.5px solid #3f3f3f;
}
footer p a{
    color: rgb(245, 159, 0);
}
footer div p{
    color: #dadada;
}
h4{    
    color: #dadada;
}
.prava{
    font-size: 12px;
    color: #777;
}