body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-flow: wrap;
    background-color: rgb(46, 46, 46);
}
nav p{
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding-left: 5%;
    color: rgb(243, 165, 20);
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding-left: 60%;
}
nav li{
    font-size: 12px;
    font-weight: bold;
}
nav a {
    color: white;
    text-decoration: none;
}

.uvodni_dio{
    background-color: rgb(19, 19, 19);
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}
h1{
    font-size: 40px;
}
.uvodni_dio p{
    margin-bottom: 2%;
}
button{
    background-color: rgb(243, 165, 20);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bolder;
    border-radius: 0.5rem;
    font-size: 15px;
}

.usluge{
    text-align: center;
}
.usluge h2{
    font-size: 32px;
    margin-top: 50px;
}

.usluge p{
    margin-bottom: 50px;
}

.kartice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.usluge h3{
    font-size: 30px;
}
.kartice div{
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.5rem;
    border-inline-start: 5px solid rgb(243, 165, 20);
    text-align: left;
    width: 400px;
    height: 200px;
    justify-content: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    box-sizing: border-box;
}
.kartice div h3{
    font-size: 20px;
}
.kartice div p{
    font-size: 18px;
}

.info_tekst{
    padding-top: 50px;
    columns: 500px 2;
    column-gap: 30px;
    column-rule: 2px solid #ccc;
    column-fill: balance;

    text-align: justify;

    box-sizing: border-box;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;   
}

caption{
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #000;
}

table{
    width: 89%;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 16px;
    color: #222;
}

thead th{
    background-color: #1f1f1f;      
    color: white;
    text-align: left;
    padding: 12px 8px;
    font-weight: 700;
    border-bottom: 1px solid #333;
}

tbody tr td{
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 8px;
}

tbody tr:nth-child(odd){           
    background-color: #fff;
}

tbody tr:nth-child(even){           
    background-color: #f3f3f3;
}

tfoot tr td{
    padding: 10px 8px;
    font-size: 14px;
    color: #777;
    background-color: #fff;
}