/* SNIJEG EFEKT */
html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
body {
  background: transparent;
  overflow-x: hidden;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
/* SVE OSTALO */
#page {
  position: relative;
  z-index: 1;
}


/* FONT */
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
body{
  font-family: 'Montserrat', 'Arial', sans-serif;
}


/* INDEX.HTML */
.uvod{
  background-color: #2E4254;
  text-align: center;
  padding: 10px;
}
#glavni_dio{
  text-align: center;
  margin: 50px auto;
}
#glavni_dio h2{
  font-size: 30px;
}
#glavni_dio p{
  font-size: 20px;
}
.slike{
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.slike div{
  padding: 10px 10px 40px;
  background-color: white;
  border-radius: 0.5rem;
}
.slike div img{
  border-radius: 0.5rem;
}


/* ONAMA.HTML */
.o_nama{
  background-color: rgba(94, 94, 94, 0.13);
  width: 70%;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 1px 25px 25px;
}
.o_nama h2{
  font-size: 30px;
  color: #1CBB9D;
}
.o_nama p{
  font-size: 20px;
  max-width: 900px;
  margin: 25px auto;
  line-height: 30px;
}
.ljudi{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 100px;
}
.ljudi div{
  width: 200px;
  padding: 20px 50px;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}
.ljudi div img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #1CBB9D;
}
.ljudi h3{
  color: rgb(29, 29, 29);
}
.ljudi p{
  color: rgb(122, 122, 122);
}


/* USLUGE/INDEX.HTML */
h2{
  text-align: center;
  margin: 50px auto;
}
.cjenik{
  display: flex;
  justify-content: center;
  background-color: rgba(94, 94, 94, 0.13);
  width: 70%;
  margin: 0 auto;
  padding: 40px 0px;
  border-radius: 0.5rem;
}
table{
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
}
th, td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
thead tr{
  background-color: #1CBB9D;
  color: rgb(27, 27, 27);
  text-transform: uppercase;
}
thead tr th{
  padding: 20px;
  text-align: left;
}
tbody tr{
  border-bottom: 1px solid rgb(59, 59, 59);
}
tbody tr td{
  padding: 20px;
}
tbody tr td button{
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #1CBB9D;
  padding: 7px 15px;
  width: 70%;
}


/* BLOG/INDEX.HTML */
article{
  width: 60%;
  background-color: rgba(94, 94, 94, 0.13);
  margin: 25px auto;
  border-radius: 0.5rem;
  padding: 1px 20px;
  border-inline-start: 4px solid #48b4a0;
}
article h2{
  text-align: left;
  color: #48b4a0;
}
article p{
  line-height: 25px;
}
.datum{
  color: rgb(107, 107, 107);
  margin-top: -40px;
  padding-bottom: 10px;
  font-size: 15px;
}
.kategorija{
  padding-top: 30px;
  padding-bottom: 25px;
  font-style: italic;
}


/* GALERIJA/INDEX.HTML */
.fotogalerija{
  text-align: center;
  background-color: rgba(94, 94, 94, 0.13);
  width: 50%;
  margin: 25px auto;
  padding-top: 10px;
  padding-bottom: 1px;
  border-radius: 0.5rem;
}
.fotogalerija img{
  width: 90%;
  border-radius: 0.5rem;
  border: 1px solid #1CBB9D;
}
.fotogalerija p{
  font-size: 15px;
  color: rgb(109, 109, 109);
}
.fotogalerija button{
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: #1CBB9D;
  min-width: 120px;
  max-width: 120px;
  font-weight: bolder;
}
.fotogalerija h2{
  color: #1CBB9D;
  font-size: 25px;
}
.gumbovi{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 12px 0px 12px;
  gap: 30px;
}


/* INFO/KONTAKT.HTML */
.forma{
  background-color: rgba(94, 94, 94, 0.13);
  min-width: 350px;
  width: 30%;
  margin: 100px auto;
  padding: 25px;
  border-radius: 0.5rem;

}
.osobnipodaci, .uslugairok{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.ime, .email, .rok, .vrsta, .budzet, .komentar{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label{
  color: #1CBB9D;
  font-weight: bold;
}
input{
  padding: 10px 20px;
  border: 0.5px solid rgba(83, 83, 83, 0.5);
  width: 230px;
  border-radius: 0.5rem;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: rgb(165, 165, 165);
}
select{
  padding: 10px 20px;
  border: 0.5px solid rgba(83, 83, 83, 0.5);
  width: 272px;
  border-radius: 0.5rem;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: rgb(165, 165, 165);
}
textarea{
  resize: vertical;
  border: 0.5px solid rgba(83, 83, 83, 0.5);
  color: rgb(165, 165, 165);
  padding: 10px;
  max-height: 150px;
  min-height: 90px;
  border-radius: 0.5rem;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.forma button{
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 0.5rem;
  background-color: #1CBB9D;
  border: none;
  font-weight: bolder;
  border: 0.5px solid rgba(83, 83, 83, 0.5);
}

.budzet input{
  width: 91%;
}
.budzet input[type="range"] {
  accent-color: #1CBB9D;
}


/* PROJEKT/INDEX.HTML */
.projekti{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  gap: 25px;
  margin: 30px auto;
}
.projekt {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  width: 325px;
}
.projekt img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}
.status{
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 12px;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  background: #1CBB9D;
}
.projekt-content {
  padding: 18px;
}
.projekt-content h3 {
  margin: 0;
  color: #1CBB9D;
  font-size: 1.2rem;
}
.projekt-content p {
  margin: 8px 0;
  color: #ccc;
}
.projekt-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.tehnologije{
  padding: 5px 0px;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  color: #1CBB9D;
}
.detalji {
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  text-decoration-line: underline;
  text-decoration-color: #1CBB9D;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
.detalji:hover {
  transform: translateX(1px);
}
hr{
  border: 0.5px solid rgba(59, 59, 59, 0.349);
}
