:root{
    --pozadinska-boja: #f0f1f0;
    --bijela-boja: white; 
    --boja-tablice1: #f8f8f8;
    --boja-tablice2: #f0f0f0;
}

body{
    background-color: var(--pozadinska-boja);
    font-family: sans-serif;
}
 .ikonica{
    font-size: 50px;
    color: #1d4ed8;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -20px;
 }
.container{
    background-color: var(--bijela-boja);
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
}
fieldset{
    border: 2px solid #e1e1e1;
    padding:30px;
    border-radius: 12px;
    box-sizing: border-box;
}

legend{
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
    color: #3f3f3f;

}
label{
    color: #3f3f3f;
}
.unos1{
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 15px;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfd2d6;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;

}

#u1{
    transform: scale(1.6);
    margin-right: 8px;
}
.unos2{
    font-size: 15px;
    display:inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #1d4ed8;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

table{
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
    font-size: 15px;
    border: none;
}

thead th{
    background-color: #f1f3f9;
    font-weight: 700;
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    color: #3f3f3f;
}

caption{
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #3f3f3f;
}

tfoot td {
    text-align: center;
    padding: 15px;
    background-color: #fafafa;
    color: #555;
    border: none;
}

tbody tr td {
    background-color: #fafafa;
    padding: 15px;
    border-bottom: 1px solid rgb(226, 226, 226); 
    border-left: none;
    border-right: none;
    font-weight: 500;
    color: #3f3f3f;
}

tbody tr:nth-child(3) td:empty {
    border-bottom: none;
}

tbody tr:nth-child(1) td:nth-child(3) {
    color: green;
    font-weight: 500;
}

tbody tr:nth-child(2) td:nth-child(3) {
    color: red;
    font-weight: 500;
}

tfoot tr{
    background-color: #fafafa;
}
caption{
    text-align: left;
}
