body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("pozadina.jpg"); 
    background-repeat: repeat;
    animation: promjena 30s linear infinite;
}

@keyframes promjena {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1000px;
    }
}

.container{
    width: 700px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);

    transition: transform 0.5s ease;
}
.container:hover{
    transform: scale(1.08);
}


.kartica{
    width: 150px;
    height: 150px;
    background: rgb(236, 236, 236);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}
.kartica img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.kartica:hover{
    transform: scale(0.85);
}