body{
    background-color: #363636;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.forma{
    width: 23%;
    min-width: 300px;
    margin: 200px auto;
    background-color: rgb(32, 32, 32);
    border-radius: 1rem;
    padding: 30px 15px;
}
p{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 15px;
    padding: 0px 15px;
}

label{
    color: rgb(197, 106, 20);
    font-size: 20px;
}
h1{
    color: rgb(197, 106, 20);
    padding-left: 15px;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    padding-bottom: 20px;
    font-size: 30px;
}
a{
    color: rgb(197, 106, 20);
}

button{
    background-color:rgb(197, 106, 20);
    color: white;
    border: none;
    width: 130px;
    border-radius: 0.5rem;
    padding: 10px 5px;
    font-size: 15px;
    margin-top: 20px;
}
input[type='text'], input[type='password']{
    border-radius: 0.5rem;
    padding: 10px 5px;
    width: 90%;
    border: none;
}