h2{
    color: rgb(238, 122, 14);
    text-align: center;
}

body{
    background-color: #363636;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
nav p{
    color: rgb(238, 122, 14);
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
}
ul li{
    text-decoration-line: none;
    color: rgb(228, 228, 228);
}

.uvodni_dio{
    background-image: linear-gradient(rgba(0,0,0,0.4)), url(slike/banner.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
}
.uvodni_dio h1{
    font-size: 40px;
}
.uvodni_dio p{
    font-size: 20px;
}