body{
    background-color: #e2e3ec;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 1rem;
    width: 350px;
    box-sizing: border-box;
    padding: 30px 0px;
}
div h1{
    font-size: 25px;
}
div h3{
    color: #20a713;
    font-size: 25px;
}
div p{
    padding: 5px 40px;
}
button{
    width: 82%;
    padding: 10px 0px;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    background-color: rgb(31, 110, 255);
}